ALTER TABLE body_measurements ADD COLUMN IF NOT EXISTS right_arm_muscle numeric(5,2), ADD COLUMN IF NOT EXISTS right_arm_fat numeric(5,2), ADD COLUMN IF NOT EXISTS left_arm_muscle numeric(5,2), ADD COLUMN IF NOT EXISTS left_arm_fat numeric(5,2), ADD COLUMN IF NOT EXISTS torso_muscle numeric(5,2), ADD COLUMN IF NOT EXISTS torso_fat numeric(5,2), ADD COLUMN IF NOT EXISTS right_leg_muscle numeric(5,2), ADD COLUMN IF NOT EXISTS right_leg_fat numeric(5,2), ADD COLUMN IF NOT EXISTS left_leg_muscle numeric(5,2), ADD COLUMN IF NOT EXISTS left_leg_fat numeric(5,2), ADD COLUMN IF NOT EXISTS score_bcm integer;
